<h1>Projects#new</h1>
<p>Find me in app/views/projects/new.html.erb</p>

<%= form_for(@project) do |f| %>
    <div class="input-append">
        <%= f.text_field :name %>
        <%= button_tag'Confirm', class:'btn', type:'submit'%>
    </div>
<% end %>