<h1>Projects#new</h1>
<p>Find me in app/views/projects/new.html.erb</p>

<%= form_tag('/projects', method: 'post') do %>
    <div class="input-append">
        <%= text_field_tag :name, placeholder='Please enter Project name', class:'span3'%>
        <%= button_tag'Confirm', class:'btn', type:'submit'%>
    </div>
<% end %>