@import "bootstrap";
.table-nonfluid {
  width: 100%;
}
.centered {
  margin: 0 auto !important;
  float: none !important;
}

.align-right {
  float: right;
}
.align-left {
  float: left;
}

.small-width50{
  width: 11%;
}
.small-width15{
  width: 5% ;
}
.set-width80
{
  width: 82%;
}
.set-width20
{
  width: 20%;
}
.set-height
{
  height: 20px;
  font-size: 12px;
}

.magick
{
  margin-bottom: 0px;
}

.task_checkbox {
  cursor: pointer;
}

.project_name div {
  height: 20px;
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 7px;
  color: #0088CC;}

.project_name {
  width: 100%

}

.task_name  {
  color: #405560;
}

.striked {
  text-decoration: line-through;

}