@import "bootstrap";
.table-nonfluid {
  width: 100%;
}
.centered {
  margin: 0 auto !important;
  float: none !important;
}

.align-right {
  float: right;
}
.align-left {
  float: left;
}

.small-width50{
  width: 11%;
}
.small-width15{
  width: 5% ;
}
.set-width80
{
  width: 82%;
}
.set-width20
{
  width: 20%;
}
.set-height
{
  height: 20px;
  font-size: 12px;
}

.magick
{
  margin-bottom: 0px;
}